<!DOCTYPE html>
<html>
<head>
    <title>FM-DX Webserver [<%= tunerName %>]</title>
    <link href="css/entry.css" type="text/css" rel="stylesheet">
    <link href="css/flags.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" type="text/css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=300, initial-scale=1">

    <meta property="og:title" content="FM-DX WebServer [<%= tunerName %>]">
    <meta property="og:type" content="website">
    <meta property="og:image" content="favicon.png">
       
    <script src="js/init.js"></script>
    
    <!-- 3LAS Scripts for Audio streaming -->
    <script src="js/3las/util/3las.helpers.js"></script>
    <script src="js/3las/util/3las.logging.js"></script>
    <script src="js/3las/fallback/3las.liveaudioplayer.js"></script>
    <script src="js/3las/fallback/3las.formatreader.js"></script>
    <script src="js/3las/fallback/formats/3las.formatreader.mpeg.js"></script>
    <script src="js/3las/fallback/formats/3las.formatreader.wav.js"></script>
    <script src="js/3las/util/3las.websocketclient.js"></script>
    <script src="js/3las/fallback/3las.fallback.js"></script>
    <script src="js/3las/3las.js"></script>
    <script src="js/3las/main.js"></script>
    <script type="text/javascript">
			window.addEventListener('load', Init, false);
			document.ontouchmove  = function(e){ 
				e.preventDefault(); 
			}
    </script>
</head>
<body>
    <div id="wrapper">
        <div class="panel-100 no-bg tuner-info">
            <h1 id="tuner-name"><%= tunerName %></h1>
            <div style="clear: both"></div>
        </div>
        <div class="flex-container">
            <div class="panel-100 bg-none" style="margin-top: 0;">
                <div class="flex-container">
                    <div class="panel-75 flex-container no-bg">
                        <div class="panel-10 no-bg h-100 m-0 m-right-20 hide-phone" style="width: 100px;margin-right: 20px !important;">
                            <button class="playbutton" aria-label="Play / Stop"><i class="fa-solid fa-play fa-lg"></i></button>
                        </div>
                        <div class="panel-100 m-0 hover-brighten flex-center tooltip" id="ps-container" style="height: 90px;">
                            <span class="text" id="data-ps"></span>
                        </div>
                    </div>
                    
                    <div id="flags-container-desktop" class="panel-33 user-select-none">
                        <h2 class="show-phone">
                            <div class="data-pty text-color-default"></div>
                        </h2>
                    </div>
                </div>
                
                <div class="flex-container">
                    <div class="panel-33 hover-brighten tooltip" id="pi-code-container">
                        <h2>PI CODE</h2>
                        <span id="data-pi" class="text text-uppercase"></span>
                    </div>
                    
                    <div class="panel-33 hover-brighten" id="freq-container">
                        <h2>FREQUENCY</h2>
                        <span id="data-frequency" class="text"></span>
                    </div>
                    
                    <div class="panel-33">
                        <h2 class="signal-heading">SIGNAL</h2>
                        <div class="text-small text-gray highest-signal-container">
                            <i class="fa-solid fa-arrow-up"></i>
                            <span id="data-signal-highest"></span>
                            <% if (device == 'sdr') { %> <span>dB SNR</span> <% } else { %> <span class="signal-units"></span> <% } %>
                        </div>
                        <div class="text">
                            <span id="data-signal"></span><!--
                        --><span id="data-signal-decimal" class="text-medium-big" style="opacity:0.7;"></span>
                            <% if (device == 'sdr') { %> <span class="text-medium">dB SNR</span> <% } else { %> <span class="signal-units text-medium">dBf</span> <% } %>
                        </div>
                    </div>
                </div>
                
                <div class="flex-container flex-phone flex-phone-column">
                    <div class="panel-33 no-bg filter-controls" style="height: 48px;">
                        <div class="flex-container flex-phone h-100">
                            <div class="panel-75 no-bg h-100 m-0 hide-desktop m-right-20 button-play-mobile" style="margin-right: 20px;">
                                <button class="playbutton" aria-label="Play/Stop"><i class="fa-solid fa-play"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-33 hide-phone no-bg">
                        <div class="flex-container">
                        </div>
                    </div>
                </div>
                
                <div class="flex-container flex-phone flex-phone-column">
                </div>
                
            </div>

            <div class="panel-10 bg-none" style="margin-top: 0;">
            </div>
        </div>
        <div id="flags-container-phone" class="panel-33">
            <h2 class="show-phone">
                <div class="data-pty text-color-default"></div>
            </h2>
        </div>
    </div>
</div>

<script src="js/webserver.js"></script>
<% plugins?.forEach(function(plugin) { %>
        <script src="js/plugins/<%= plugin %>"></script>
<% }); %>
</body>
</html>
